body {
  background-color: #f6f6f6;
}
body #zheLogin {
  width: 980px;
  margin: 27px auto;
  /* 标题 */
  /* 注册表 */
  /* 底部 */
}
body #zheLogin .login-top {
  height: 82px;
  margin-bottom: 16px;
  position: relative;
}
body #zheLogin .login-top .topL {
  width: 287px;
  height: 66px;
}
body #zheLogin .login-top .topL a {
  display: block;
  width: 287px;
  height: 66px;
}
body #zheLogin .login-top .topL a img {
  width: 100%;
  height: 100%;
}
body #zheLogin .login-top .topR {
  position: absolute;
  right: 0;
  bottom: 23px;
  font-size: 12px;
  color: #666666;
}
body #zheLogin .login-top .topR a {
  color: #428bd2;
}
body #zheLogin .login-content {
  height: 400px;
  background-color: #fff;
  padding: 40px 60px;
  position: relative;
}
body #zheLogin .login-content .contentL {
  width: 430px;
  height: 430px;
}
body #zheLogin .login-content .contentL a {
  display: block;
  width: 430px;
  height: 430px;
}
body #zheLogin .login-content .contentL a img {
  width: 100%;
  height: 100%;
}
body #zheLogin .login-content .contentR {
  width: 312px;
  height: 318px;
  padding: 38px 0 20px;
  border: 1px solid gray;
  position: absolute;
  top: 65px;
  right: 66px;
  font-size: 12px;
}
body #zheLogin .login-content .contentR i:nth-of-type(1) {
  position: absolute;
  top: 64px;
  left: 44px;
}
body #zheLogin .login-content .contentR i:nth-of-type(2) {
  position: absolute;
  top: 124px;
  left: 44px;
}
body #zheLogin .login-content .contentR input {
  display: inline-block;
  color: #999;
  width: 183px;
  border: 1px solid #c4c4c4;
  vertical-align: middle;
  height: 18px;
  padding: 10px;
  padding-left: 45px;
  line-height: 18px;
  margin: 15px 0 5px 30px;
}
body #zheLogin .login-content .contentR p {
  font-size: 12px;
  margin: 12px 0 0 54px;
}
body #zheLogin .login-content .contentR .btn {
  width: 258px;
  height: 62px;
  padding: 10px 0;
  position: relative;
}
body #zheLogin .login-content .contentR .btn input {
  display: inline-block;
  width: 122px;
  height: 42px;
  background: url(//z5.tuanimg.com/v1/login/img/login_signin.png) no-repeat 0 0;
  border: 0;
  cursor: pointer;
  margin-right: 25px;
  text-decoration: none;
  vertical-align: middle;
}
body #zheLogin .login-content .contentR .btn a {
  position: absolute;
  top: 47px;
  color: #666;
}
body #zheLogin .login-content .contentR .btn a:hover {
  text-decoration: underline;
}
body #zheLogin .login-content .contentR h2 {
  height: 30px;
  line-height: 30px;
  color: #666;
  font-size: 12px;
  margin-left: 53px;
}
body #zheLogin .login-content .contentR .otherWay a {
  display: inline-block;
  width: 92px;
  height: 34px;
  margin-right: 10px;
  background-color: blue;
  color: #fff;
  line-height: 34px;
  text-align: center;
}
body #zheLogin .login-bottom {
  height: 20px;
  line-height: 20px;
  color: #333;
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
}
